:root {
  /* Colour palette */
  --color-blue: #3D4FD6;
  --color-light-blue: #94BCDF;
  --color-green: #46735E;
  --color-grey: #707070;
  --color-white: #ffffff;

  /* Layout */
  --l-gutter: 1rem;

  /* Typography */
  --typo-Roboto: 'Roboto', sans-serif;
}